* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(rgba(30, 30, 30, 0.8), rgba(20, 20, 20, 0.95)),
    url("../img/blue-simple-background.png");
    background-attachment: fixed;
    background-repeat: repeat;
    background-color: #e0e0e0;
}

html {
    color: #282828;
    font-family: sans-serif;
    height: 100%;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(17, 30, 108, 0.7));
    background-color: #0047ab;
    color: #f5f5f5;
    padding: 30px;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}

.wrapper {
    max-width: 1600px;
    width: 95%;
    margin: 0 auto;
}