.error {
    color: red;
}

.login-form {
    background-color: #e5e5e5;
    border: 1px solid #303030;
    color: #303030;
    max-width: 330px;
    padding: 15px;
    margin: 75px auto;
}
.login-form h2 {
    margin-bottom: 10px;
}
.login-form h4 {
    margin-top: 10px;
}
.login-form input {
    position: relative;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #858585;
}
.login-form input:focus {
    z-index: 2;
}
.login-form input[type=submit] {
    background-color: #addae6;
    border: 1px solid #99b5c1;
    transition: 0.2s;
}
.login-form input[type=submit]:hover {
    background-color: #4ccaeb;
    border: 1px solid #addae6;
    box-shadow: 3px 3px 3px rgba(0,0,0,.5);
    transition: 0.2s;
}