form {
    padding-bottom: 10px;
    padding-top: 10px;
}
form input[type=submit] {
    box-sizing: border-box;
    color: #303030;
    float: right;
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 12px;
    margin-right: 12px;
    padding: 7px;
    text-transform: uppercase;
    transition: box-shadow 0.2s, background-color 0.2s;
    width: 100px;
}
form input[type=submit]:hover {
    background-color: #c1e5ff;
    box-shadow: 3px 3px 3px rgba(0,0,0,.5);
    transition: 0.2s;
}
form input[type=text], input[type=password], select {
    border: 1px solid #cecece;
    box-sizing: border-box;
    font-size: 1.1em;
    margin-left: 12px;
    padding: 7px;
    width: 250px;
}

.read-only-field {
    color: #707070;
    font-size: 1.1em;
    margin-left: 12px;
    width: 250px;
}

.add-new {
    background-color: #f5f5f5;
    width: 100%;
}

/*.field-titles {
    background-color: #e9e9e9;
    width: 100%;
}
.field-titles div {
    display: table-cell;
    border-right: 1px solid #333333;
    box-sizing: border-box;
    padding: 7px;
    width: 276px;
}*/

.group{
    box-shadow: 10px 15px 8px rgba(0,0,0,.5);
    list-style-type: none;
    margin-top: 25px;
}
.group .group-header {
    background-color: #a8cae6;
    color: #303030;
    padding: 15px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

#status {
    background-color: #f5f5f5;
    bottom: 0;
    font-size: 1.2em;
    left: 0;
    padding: 7px;
    position: fixed;
    right: 0;
}

#logout-form {
    position: absolute;
    top: 7px;
    right: 12px;
    color: #f5f5f5;
}
#logout-form input {
    font-size: 1.1em;
    padding: 7px;
}
#logout-form span {
    font-size: 1.3em;
    line-height: 35px;
}